<template>
  <div class="event-list">
    <h1>Event list</h1>
    <EventCard v-for="event in events" :key="event.id" :event="event"/>
    <BaseIcon/>
  </div>
</template>
<script>
import EventCard from '@/components/EventCard.vue';
import EventService from '@/services/EventService';

export default {
  components: {
    EventCard,
  },
  data() {
    return {
      events: [],
    };
  },
  created() {
    EventService.getEvents()
      .then((response) => {
        this.events = response.data; // <--- set the events when returned
      })
      .catch((error) => {
        console.log('There was an error:', error.response);
      });
  },
};
</script>
